/* Common Font Style */
body {
    font-family: 'EB Garamond', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Text-Color */
.text-primary-orange {
    color: #FD6E0A;
}

/* Primary Button */
.primary-btn {
    background: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 550;
    border-radius: 4px;
    padding: 15px 25px;
    border: 0;
}

/* NavBar Section */
nav {
    display: flex;
    justify-content: space-between;
    padding-right: 180px;
}

.header-section {
    background-color: #FFF8F3;
    ;
    padding: 30px 0px 0px 230px;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.header-nav-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.header-nav-button {
    list-style: none
}

.nav-title {
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
}

nav a {
    text-decoration: none;
    color: black;
}

nav li {
    margin: 20px;


}

/* Banner section */
.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 500px;
}

.banner-greating {

    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 10px;
}

.banner-title {
    color: #181818;
    font-size: 50px;
    font-weight: 900;
    margin-top: 10px;
}

.banner-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;

}

/* About Section */
.about-container {
    text-align: center;
    border-radius: 10px;
    background: #FFF8F3;
    /* border:2px solid salmon; */
    margin: 130px 230px;
    padding: 150px;
}

.about {
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;

}

.about-details {
    color: #757575;
    text-align: center;
    font-size: 21px;
    font-weight: 400;

}

.about-description {
    display: flex;
    justify-content: space-between;
}

.about-title {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.about-title-details {}

/* What i do section */
.what-i-do-container {
    padding: 0px 500px 50px 500px;
}

.what-i-do-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.what-i-do-details {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* Experiece section */

.experiece-section {
    display: flex;
    padding: 230px;

}

.experience-container {
    margin: 30px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 25px 10px;
}

.experience-title {
    color:#181818;
    font-size: 20px;
    font-weight: 700;
}

.experience-details {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}