/* Common Font Style */
body {
    font-family: 'EB Garamond', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    width: 75%;
    
    
}

/* Text-Color */
.text-primary-orange {
    color: #FD6E0A;
}

/* Primary Button */
.primary-btn {
    background: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 550;
    border-radius: 2px;
    padding: 15px 25px;
    border: 0;
}

/* NavBar Section */

.header-section {
    margin: auto;
    
    display: flex;
    justify-content: space-between;
}
.header-nav-list {
    display: flex;
    align-items: center;
    list-style: none;}
    
.header-nav-button {
    list-style:none
}

.nav-title {
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
}

nav a {
    text-decoration: none;
    color: black;
}

nav li {
    margin: 20px;
    
    
}